:root {
  /* COLORS */
  --clrs-primary-500: #37806b;
  --clrs-primary-700: #275a4b;

  --clrs-secondary-400: #caa892;
  --clrs-secondary-600: #b0855b;

  --clrs-neutral-100: #fff;
  --clrs-neutral-200: #f8f8f8;
  --clrs-neutral-300: #ebebeb;
  --clrs-neutral-400: #c4c4c4;
  --clrs-neutral-500: #646464;
  --clrs-neutral-600: #212121;
  --clrs-neutral-700: #111111;
  --clrs-neutral-800: #000000;
  /* FONT FAMILIES */
  --ff-base: "Poppins", sans-serif;
  --ff-headings: "Basic", sans-serif;
}

/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: var(--ff-base);
}
img {
  width: 100%;
  height: 100%;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

h1 {
  font-family: var(--ff-headings);
  font-size: 4.8rem;
  text-transform: uppercase;
}

.container {
  max-width: 138rem;
  min-height: 100vh;
  margin-inline: auto;
  position: relative;
  overflow-x: hidden;
}
.hamburger,
.overlay {
  display: none;
}

.btn {
  color: var(--clrs-neutral-100);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 2rem;
  background-color: var(--clrs-primary-500);
  border-top-left-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
  transition: background-color 250ms;
}
.btn:hover {
  background-color: var(--clrs-primary-700);
}
.btn-secondary {
  background-color: var(--clrs-secondary-600);
}
.btn-secondary:hover {
  background-color: var(--clrs-secondary-400);
}

/* NAVIGATION STYLING */
.navigation-container {
  margin-inline: 8rem;
  margin-top: 2.4rem;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__list {
  margin-left: auto;
  margin-right: 3.2rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.navigation__item {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--clrs-neutral-500);
}
.navigation__link {
  color: inherit;
  font-weight: 500;
  transition: color 300ms;
}
.navigation__item:hover {
  color: var(--clrs-neutral-400);
}
.navigation__ctas {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.clicked {
  color: var(--clrs-neutral-400);
}
